{% extends 'base.html' %}

{% block title %}Bird List{% endblock %}
{% block content %}
	<div class="banner test">
		<p>Perching Birds</p>
	</div>
	<div class="banner perching-birds">
		<p>Perching Birds</p>
	</div>
	{% for bird in perching_birds %}
			<a href="{% url 'bird_detail' bird_name=bird.slug %}">	
				<div class="bird">
					{% if sightings.sighted %}<i class="fa fa-check"></i>{% endif %}<img src="{{ bird.pic.url }}" height="100" width="100">
				</div>
			</a>
	{% endfor %}
	<div class="banner doves-woodpeckers-etc">
		<p>Doves, Woodpeckers, Etc.</p>
	</div>
	{% for bird in doves_woodpeckers_etc %}
			<a href="{% url 'bird_detail' bird_name=bird.slug %}">	
				<div class="bird">
					{% if sightings.sighted %}<i class="fa fa-check"></i>{% endif %}<img src="{{ bird.pic.url }}" height="100" width="100">
				</div>
			</a>
	{% endfor %}
	<div class="banner waterbirds-and-nearshore-birds">
		<p>Waterbirds &amp; Nearshore Birds</p>
	</div>
	{% for bird in waterbirds_and_nearshore_birds %}
			<a href="{% url 'bird_detail' bird_name=bird.slug %}">	
				<div class="bird">
					{% if sightings.sighted %}<i class="fa fa-check"></i>{% endif %}<img src="{{ bird.pic.url }}" height="100" width="100">
				</div>
			</a>
	{% endfor %}
	<div class="banner birds-of-prey">
		<p>Birds of Prey</p>
	</div>
	{% for bird in birds_of_prey %}
			<a href="{% url 'bird_detail' bird_name=bird.slug %}">	
				<div class="bird">
					{% if sightings.sighted %}<i class="fa fa-check"></i>{% endif %}<img src="{{ bird.pic.url }}" height="100" width="100">
				</div>
			</a>
	{% endfor %}
{% endblock %}