{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
	<div id="wrap">
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<a href="{% url 'bird_list' %}" class="navbar-brand">North Carolina Pipper Peeper</a>
				<p class="navbar-text navbar-right">
					{% if user.is_authenticated %}
						Logged in as: {{user}} &middot; <a href="{% url 'django.contrib.auth.views.logout' %}" class="navbar-link">Logout</a>
					{% else %}
				        <a href="{% url 'django.contrib.auth.views.login' %}" class="navbar-link">Login</a>
				    {% endif %}
				</p>
			</div>
		</nav>
		{% block content %}{% endblock %}
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<hr>
					<p id="copyright" >&copy; {% now "Y" %} Hunter MacDermut &middot; <a href="https://github.com/huntermacd"><i class="fa fa-github"></i></a></p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>